
    .profile-email{
        font-size: 90%;
        float: center;
    }
    .profile-edit-button{
        float: right;
        font-size: 120%;
        color: #df7b1e;
    }

    ion-card-header {
        font-weight: bold;
        font-size: 120%;
    }

    .profile-body {
        font-size: 120%;
    }
    ion-card {
        border-radius: 10px !important;
    }

    .pi-text {
        font-weight: bold;
    }


    .profile-heading {
        color: black;
    }