<ion-app>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title text-center>
          <ion-icon class="menu-title-icon" src="../assets/icon/EP_icon_og.svg"></ion-icon>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item detail="false" class="menu-item" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [src]="p.icon" class="menu-icons"></ion-icon>
            <div>
              {{p.title}}
            </div>
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </ion-item> -->
        <ion-item-divider ></ion-item-divider>
        <ion-item detail="false" (click)="logout()" text-center>
          <ion-label><ion-icon name="ios-log-out" style="font-size: 130%; vertical-align: middle; transform: rotate(180deg);"></ion-icon>LOG OUT</ion-label>
        </ion-item>
        <ion-item-divider style="margin-top: 0;"></ion-item-divider>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-router-outlet main></ion-router-outlet>

</ion-app>