.upload-btn {
   padding-top: 10%;
   font-size: 110%;
   text-transform: none;

}
.view-up-txt {
    font-size: 110%;
    padding-top: 5%;
    text-transform: none;
}

.upload-btn2 {
    padding-top: 10%;
    font-size: 400%;
    
} 

.camera-icon {
    
    font-size: 450%;
}

.camera-icon2 {
    font-size: 300%;
}
.page-preview {
    height: 125px;
    
}
ion-card {
    .card-title {
        padding-top: 10%;
        ion-icon {
            color: gray;
        }
    }
}
.page {
    font-size: 30%;
}

.up-subheader{
    padding-top: 3%;
    
}