.download-btn {

    font-size: 110%;
    text-transform: none;
 
 }

 .form-select-label {
    font-size: 100%;
}

.calendar-icon { 
    stroke-width: 5%;
    stroke: #f16521;
    font-size: 130%;
    padding-right: 5%;
    vertical-align: middle;
}
