
    .paystub-select-label {
        font-size: 130%;
    }

    .fab-button-close-icon {
        color: #0066b2!important;
    }

    .paystub-subheader {
        font-weight: bold;
    }
    .paystub-table-header {
        font-weight: bold;
    }
    ion-card-header {
        font-weight: bold;
    }
    
    h3 {
        color: #0066b2;        
    }

    .calendar-icon { 
        stroke-width: 5%;
        stroke: #f16521;
        font-size: 130%;
        padding-right: 5%;
        vertical-align: middle;
    }


    .action-icon { 
        color: whitesmoke;
    }

    ion-fab {
        padding-top: 38vh;
    }
    ion-card {
        border-radius: 10px !important;
    }

    ion-item-divider {
        margin-top: 0;
    }
    .title-divider {
        margin-top: 10%;
    }
    ion-select-option {
        
        background-color: green;
    }
