
    .form-select-label {
        font-size: 130%;
    }

    .no-selection-message {
        font-size: 110%;
        padding-top: 40%;
    }
    ion-card-header {
        font-weight: bold;
    }

    .download-btn {
        padding-top: 5vh;
    }