.header-title-icon {
    font-size: 120%;
    vertical-align: middle;
}

.header-text {
    padding-left: 2%;
    vertical-align: middle;
}

ion-title {

    text-align: center;
    margin-right: 15%;
}